<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzs.qymba.mapper.CustomMapper" >
  <resultMap id="BaseResultMap" type="com.hzs.qymba.model.Custom" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="customName" property="customname" jdbcType="VARCHAR" />
    <result column="customAbb" property="customabb" jdbcType="VARCHAR" />
    <result column="saleTypeName" property="saletypename" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="deptType" property="depttype" jdbcType="INTEGER" />
    <result column="deptId" property="deptid" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="isDel" property="isdel" jdbcType="BIT" />
    <result column="addDate" property="adddate" jdbcType="TIMESTAMP" />
    <result column="createId" property="createid" jdbcType="BIGINT" />
    <result column="createName" property="createname" jdbcType="VARCHAR" />
    <result column="editDate" property="editdate" jdbcType="TIMESTAMP" />
    <result column="editId" property="editid" jdbcType="BIGINT" />
    <result column="editName" property="editname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customName, customAbb, saleTypeName, address, phone, email, remark, deptType, 
    deptId, state, isDel, addDate, createId, createName, editDate, editId, editName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from custom_t
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from custom_t
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hzs.qymba.model.Custom" >
    insert into custom_t (id, customName, customAbb, 
      saleTypeName, address, phone, 
      email, remark, deptType, 
      deptId, state, isDel, addDate, 
      createId, createName, editDate, 
      editId, editName)
    values (#{id,jdbcType=BIGINT}, #{customname,jdbcType=VARCHAR}, #{customabb,jdbcType=VARCHAR}, 
      #{saletypename,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{depttype,jdbcType=INTEGER}, 
      #{deptid,jdbcType=BIGINT}, #{state,jdbcType=INTEGER}, #{isdel,jdbcType=BIT}, #{adddate,jdbcType=TIMESTAMP}, 
      #{createid,jdbcType=BIGINT}, #{createname,jdbcType=VARCHAR}, #{editdate,jdbcType=TIMESTAMP}, 
      #{editid,jdbcType=BIGINT}, #{editname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hzs.qymba.model.Custom" >
    insert into custom_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customname != null" >
        customName,
      </if>
      <if test="customabb != null" >
        customAbb,
      </if>
      <if test="saletypename != null" >
        saleTypeName,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="depttype != null" >
        deptType,
      </if>
      <if test="deptid != null" >
        deptId,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="isdel != null" >
        isDel,
      </if>
      <if test="adddate != null" >
        addDate,
      </if>
      <if test="createid != null" >
        createId,
      </if>
      <if test="createname != null" >
        createName,
      </if>
      <if test="editdate != null" >
        editDate,
      </if>
      <if test="editid != null" >
        editId,
      </if>
      <if test="editname != null" >
        editName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customname != null" >
        #{customname,jdbcType=VARCHAR},
      </if>
      <if test="customabb != null" >
        #{customabb,jdbcType=VARCHAR},
      </if>
      <if test="saletypename != null" >
        #{saletypename,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="depttype != null" >
        #{depttype,jdbcType=INTEGER},
      </if>
      <if test="deptid != null" >
        #{deptid,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=BIT},
      </if>
      <if test="adddate != null" >
        #{adddate,jdbcType=TIMESTAMP},
      </if>
      <if test="createid != null" >
        #{createid,jdbcType=BIGINT},
      </if>
      <if test="createname != null" >
        #{createname,jdbcType=VARCHAR},
      </if>
      <if test="editdate != null" >
        #{editdate,jdbcType=TIMESTAMP},
      </if>
      <if test="editid != null" >
        #{editid,jdbcType=BIGINT},
      </if>
      <if test="editname != null" >
        #{editname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzs.qymba.model.Custom" >
    update custom_t
    <set >
      <if test="customname != null" >
        customName = #{customname,jdbcType=VARCHAR},
      </if>
      <if test="customabb != null" >
        customAbb = #{customabb,jdbcType=VARCHAR},
      </if>
      <if test="saletypename != null" >
        saleTypeName = #{saletypename,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="depttype != null" >
        deptType = #{depttype,jdbcType=INTEGER},
      </if>
      <if test="deptid != null" >
        deptId = #{deptid,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="isdel != null" >
        isDel = #{isdel,jdbcType=BIT},
      </if>
      <if test="adddate != null" >
        addDate = #{adddate,jdbcType=TIMESTAMP},
      </if>
      <if test="createid != null" >
        createId = #{createid,jdbcType=BIGINT},
      </if>
      <if test="createname != null" >
        createName = #{createname,jdbcType=VARCHAR},
      </if>
      <if test="editdate != null" >
        editDate = #{editdate,jdbcType=TIMESTAMP},
      </if>
      <if test="editid != null" >
        editId = #{editid,jdbcType=BIGINT},
      </if>
      <if test="editname != null" >
        editName = #{editname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzs.qymba.model.Custom" >
    update custom_t
    set customName = #{customname,jdbcType=VARCHAR},
      customAbb = #{customabb,jdbcType=VARCHAR},
      saleTypeName = #{saletypename,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      deptType = #{depttype,jdbcType=INTEGER},
      deptId = #{deptid,jdbcType=BIGINT},
      state = #{state,jdbcType=INTEGER},
      isDel = #{isdel,jdbcType=BIT},
      addDate = #{adddate,jdbcType=TIMESTAMP},
      createId = #{createid,jdbcType=BIGINT},
      createName = #{createname,jdbcType=VARCHAR},
      editDate = #{editdate,jdbcType=TIMESTAMP},
      editId = #{editid,jdbcType=BIGINT},
      editName = #{editname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>